/* Sizes */
$size-padding-xs: 0.125rem;
$size-padding-tiny: 0.25rem;
$size-padding-small: 0.5rem;
$size-padding-base: 1rem;
$size-padding-large: 1.5rem;
$size-padding-xl: 2.5rem;

$size-border-base: 1px;
$size-border-large: 0.25rem;

$size-font-small: 0.875rem;
$size-font-base: 1rem;
$size-font-large: 1.25rem;
$size-font-xl: 1.75rem;
$size-font-xxl: 2.5rem;

$size-breakpoint-small: 400px;
$size-breakpoint-medium: 1000px;
$size-breakpoint-large: 1400px;

$time-duration-base: 0.2s;

$font-family-mono: 'Source Code Pro', monospace;
$font-family-primary: 'Source Sans Pro', 'Open Sans', Arial, Helvetica, sans-serif;

$color-font-primary : rgba(0, 6, 38, 0.9);
$color-font-secondary : rgba(0, 6, 38, 0.8);
$color-font-tertiary : rgba(0, 6, 38, 0.6);
$color-font-quaternary : rgba(0, 6, 38, 0.4);
$color-font-link: #017E78;
$color-font-hover: #017E78;
$color-font-active: #6A5096;

$color-background-primary: #f90;
$color-background-secondary: #F8F7F8;
$color-background-tertiary: #ECE9EC;
$color-background-success: #DFF7EF;
$color-background-error: #FFD9E6;
$color-background-highlight: hsla(47, 100%, 71%, 0.5);

$color-border-primary: rgba(0, 6, 38, 0.4);
$color-border-secondary: rgba(0, 6, 38, 0.2);
$color-border-tertiary: rgba(0, 6, 38, 0.1);