
html {
  font-family: $font-family-primary;
}

body {
  color: $color-font-primary;
  background-color: $color-background-primary;
}

a {
  color: $color-font-link;
  transition: all $time-duration-base ease;
}

a:hover {
  color: $color-font-hover;
}

a:active,
a:focus {
  color: $color-font-active;
}

p {
  margin-bottom: $size-padding-large;
}

code,
pre {
  font-size: inherit;
  font-family: $font-family-mono;
  border-radius: 0.25rem;
  background-color: $color-background-secondary;
}

code {
  padding: $size-padding-xs $size-padding-small;
  font-size: 0.85em;
}

sup {
  vertical-align: super;
  font-size: $size-font-small;
}

li {
  margin-bottom: $size-padding-small;
}

hr {
  border-color: $color-border-tertiary;
  border-width: calc($size-border-large / 2);
  border-style: solid;
  width: 50%;
  margin: $size-padding-xl 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $size-padding-base;
  font-weight: 700;
  font-family: $font-family-primary;
}

h1 {
  font-size: $size-font-xxl;
}

h2 {
  font-size: $size-font-xl;
}

h3 {
  font-size: $size-font-large;
}

h4 {
  margin-top: $size-padding-large;
}

h5 {
  font-size: $size-font-base;
  margin: 0;
}

mark {
  background-color: $color-background-highlight;
  color: inherit;
  padding: $size-padding-tiny;
  margin: -0.25rem;
}

svg,
img,
video {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

button {
  font-size: 1rem;
}