@import "$styles/_variables.scss";

.docs {
  padding-left: 16rem;
}

.docs-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  border-right: 1px solid $color-border-primary;
}

.docs-nav-link {
  display: block;
  padding: $size-padding-small $size-padding-base $size-padding-small $size-padding-xl;
  text-decoration: none;
}

.docs-nav-link > .logo {
  height: 3rem;
}

.docs-nav-expander-body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s ease;
}

.docs-nav-expander-button {
  display: block;
  padding: $size-padding-small $size-padding-base;
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}

.docs-nav-expander-button:hover,
.docs-nav-link:hover {
  background-color: $color-background-secondary;
}

.docs-expander-icon {
  position: absolute;
  top: $size-padding-small;
  right: $size-padding-base;
  transition: all 0.25s ease;
}

.expanded {
  & > .docs-nav-expander-body {
    max-height: 100rem;
  }
  
  & .docs-expander-icon {
    transform: rotate(180deg);
  }
}

.docs-main {
  max-width: 60rem;
  padding: $size-padding-xl;
  
  & > * + * {
    margin-bottom: $size-padding-base;
  }
}